body{
    background-color: rgb(130, 161, 168);
    margin:0;
}

p{
    text-align: center;
    font-size: 14px;
}
button{
    padding: 10px 20px;
    color:red;
    border-color:#333;
    display: inline-block;
    border-radius: 5px;
    transition: 0.3s;
}
button:hover{
    transform: scale(1.2);
    color:#333;
    background-color: azure;
}
h1{
    color:#4546;
    text-align: center;
    
}